.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100px;
    gap: 5rem;
}

.about-content h2 {
    font-size: 3rem;
    padding: 1rem 2rem;
}

.about-content p {
    font-size: 1.625rem;
    padding: 1rem 2rem;
    color: var(--text-color);
    text-align: center;
}

.about-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    margin-top: 2rem;
    gap: 1.5rem;
    padding: 1rem 2.8rem;
    background: var(--main-color012);
    box-shadow: 0 0 10px var(--main-color011);
    border-radius: 4rem;
    font-size: 1.6rem;
    margin: 0 10px;
    color: var(--text-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color10);
}
