section {
    min-height: 100vh;
    padding: 10rem 10% 10rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    margin-top: 3rem;
}

.home-content h1 {
    font-weight: 700;
    font-size: 7rem;
}

.home-content span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 3rem;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
}

.soial-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    font-size: 2.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}


.home-img img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
}