@media(max-width:1285px) {
    hmtl {
        font-size: 50%;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .projects-container {
        padding-bottom:  7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 5rem;
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .skills {
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:895px) {
    #menu-icon {
        display: block;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        border-left: 3px solid var(--main-color010);
        border-bottom: 3px solid var(--main-color010);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color010);
        border-bottom: 2px solid var(--main-color010);
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.9);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .heading {
        font-size: 5rem;
    }

    .home {
        flex-direction: column;
        margin: 5rem 4rem;
        gap: 2rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 600px;
    }

    .home-img img {
        width: 56vw;
        margin-top: -3rem;
    }

    .about {
        flex-direction: column;
        gap: 5rem;
    }

    .about-content {
        margin: 3rem 5rem;
    }

}

@media(max-width:600px) {
    
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
        gap: 5rem;
    }

    .home-content h1 {
        font-size: 1rem;
        margin-top: 3rem;
    }
    
    .home-content h3 {
        font-size: 2rem;
    }

    .about-contact {
        flex-direction: column;
    }

    .text-animation span::before {
        font-size: 18px; 
    }

    .skills-container {
        margin-top: 8rem;
    }

    .skills-content {
        flex-direction: column;
    }
}

@media(max-width:412px) {
    
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
        gap: 5rem;
    }

    .home-title h1 {
        font-size: 3.5rem;
        margin-top: 3rem;
        padding-bottom: 2rem;
    }
    
    .home-title h3 {
        font-size: 1rem;
    }

    .text-animation span {
        font-size: 1rem;
    }


    .text-animation span::before {
        font-size: 16px;
    }

/*     .about-content p {
        text-align: justify;
        font-size: 1rem;
    }

    .about-contact {
        flex-direction: column;
    }

    .about-contact .btn  {
        width: 100%;
        margin-bottom: 10px;
    }

    .title h2 {
        font-size: 1.5rem;
    }

    .skills-item {
        width: 2rem;
        height: 2rem;
        flex-direction: column;
    }

    .footer-content {
        font-size: .825rem;
    } */
}