/* Estilos gerais para telas menores */
@media(max-width:1285px) {
    html {
        font-size: 50%;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .projects-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 2rem;
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 8rem 3% 2rem;
    }

    .skills {
        padding-bottom: 5rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:895px) {
    #menu-icon {
        display: block;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        border-left: none;
        border-bottom: 2px solid var(--main-color010);
        border-bottom-left-radius: 2rem;
        padding: 1rem 5%;
        background: rgba(0, 0, 0, 0.9);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
        color: white;
    }

    .home {
        flex-direction: column;
        margin: 3rem 2rem;
        gap: 2rem;
    }

    .home-content h1 {
        font-size: 5rem;
        margin-top: 2rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-content p {
        max-width: 100%;
    }

    .home-img img {
        width: 100%;
        margin-top: -2rem;
    }

    .about {
        flex-direction: column;
        gap: 4rem;
    }

    .about-content {
        margin: 3rem 2rem;
    }
}

@media(max-width:600px) {
    html {
        font-size: 45%;
    }

    .home {
        margin: 2rem 1rem;
        gap: 3rem;
    }

    .home-content h1 {
        font-size: 4rem;
        margin-top: 2rem;
    }
    
    .home-content h3 {
        font-size: 1.8rem;
    }

    .about-contact {
        flex-direction: column;
        gap: 1.5rem;
    }

    .skills-container {
        margin-top: 6rem;
    }

    .skills-content {
        flex-direction: column;
    }

    .projects-container {
        margin: 0 1rem;
    }

    .projects-box {
        margin-bottom: 2rem;
    }
}

@media(max-width:412px) {
    html {
        font-size: 40%;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ocupa 100% da altura da tela */
        padding: 1rem; /* Redução do padding para economizar espaço */
        box-sizing: border-box;
    }

    .home-title h1 {
        font-size: 2.5rem;
        margin-top: 0;
        padding-bottom: 0.5rem;
    }
    
    .home-title h3 {
        font-size: 1.4rem;
    }

    .about-content {
        text-align: center;
        font-size: 2rem;
        margin: 0.5rem 0; /* Margens reduzidas */
        line-height: 1.4;  /* Espaçamento entre linhas reduzido */
    }

    .about-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%; /* Garante que os botões se ajustem à largura */
    }

    .about-contact a {
        text-align: center;
        padding: 0.8rem 1rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        width: 90%;  /* Reduzido para 90% para evitar bordas */
    }

    .footer-content {
        font-size: 0.8rem;
        text-align: center;
    }
}
