@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url("reset.css");
@import url("header.css");
@import url("home.css");
@import url("about.css");
@import url("footer.css");
@import url("skills.css");
@import url("projects.css");
@import url("scroll.css");
@import url("mobile.css");


:root {
    --primary-color: #021002;
    --secondary-color:  #101010;

    --text-color: #fff;
    
    --main-color010: #ffb180;
    --main-color011: #ffd462;
    --main-color012: #fc6c6d;
    --grey:#535357;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var();
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color012);
    border-radius: 20px;
    border: 3px solid var(--grey);
}